.wholeCalc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: lightcoral;
    border-style: solid;
    padding: 10px;
    padding-bottom: 20px;
}

.title {
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.display {
    display: flex;
    height: 20px;
    justify-content: start;
    width: 140px;
    color: white;
    border-color: white;
    border-style: dashed;
    margin: 5px;
    padding: 4px;
    
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

.digitButtons {
   display: flex;
   gap: 5px;
   flex-wrap: wrap;
   width: 150px;
   justify-content: center;
   margin-bottom: 5px;
}

.operationButtons {
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
    width: 160px;
    justify-content: center;
}